/논문
/보고자료
/raw
/denoising/mouse_ear(failed)/distortion_correction/outputs
/denoising/mouse_ear(failed)/distortion_correction/distortion_correction_summary.md
/models
/analyze_vessel/analysis_results
/denoising/pig_bile_duct/roi_gui_outputs
/predict_vesslel_mask/prediction_result
/test